site_name: OpenFPV
site_description: Інструкції, технічні характеристики та налаштування камер OpenIPC - Runcam VRX, WifiLink, адаптивний лінк і не лише. Все для FPV польотів українською.
site_url: https://openfpv.com.ua
use_directory_urls: true

repo_name: GitHub
repo_url: 

extra_css:
  - css/overrides.css

extra_javascript:
  - https://www.googletagmanager.com/gtag/js?id=G-WFWC26NZLB
  - js/ga.js
  - js/feedback.js

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Maxwell456/openipc-docs-ukr
    - icon: fontawesome/solid/globe
      link: https://openfpv.com.ua
    - icon: fontawesome/solid/envelope
      link: mailto:openfpv.com.ua@gmail.com

markdown_extensions:
  - admonition
  - toc:
      permalink: true

theme:
  name: material
  language: uk
  logo: images/only-logo-white.png
  favicon: images/only-logo.png
  custom_dir: docs/overrides

  features:
    - navigation.instant
    - navigation.sections
    - navigation.top
    - navigation.tabs
    - navigation.footer
    - toc.integrate
    - search.highlight
    - search.suggest

  palette:
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Світла тема
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Темна тема

nav:
  - Головна:
      - Про проєкт: index.md
      #- Оновлення: update/index.md   
  - Перші кроки:
      - Швидкий старт: quick-start.md
      - Перед першим польотом:
          - Налаштування дрона: drone.md
          - Налаштування приймача (VRX): groundstation.md
          - Збірка наземної станції Radxa своїми руками: groundstation-build.md
      - Поширені проблеми: troubleshooting.md

  - Програмне забезпечення:
      - Прошивки:
          - OpenIPC 4G/LTE FPV:
              - Початок: firmware/overview.md
              - Налаштування VPN: firmware/vpn.md
              - Збірка прошивки: firmware/firmware-build.md
              - Збірка дрону: firmware/drone-build.md
              - Оновлення налаштувань: firmware/update-settings.md
              - Карта навігації: firmware/map.md               
          - Прошивки для камер:              
              - Прошивка APFPV — Посібник для початківців: firmware/apfpv.md
              - APALink — адаптивний бітрейт: firmware/apalink.md
          - Прошивки для наземки: 
              - Прошивки для наземної станції APFPV: firmware/apfpv-gs.md

  - Конфігурація:
      - Прошивки:
          - Оновлення через Multiconfigurator: firmware.md
          - Базове оновлення прошивки: firmware/upgrading-firmware.md
          - Прошивка через UART: firmware/uart-flashing.md          
      - Телеметрія та OSD:
          - VTXMenu: telemetry/vtx-menu.md
          #- 40 MHz режим: telemetry/40mhz.md
          #- OSD: telemetry/osd.md
          #- Перенесення OSD до GS: telemetry/osd-to-gs.md
      - Adaptive-Link: adaptive-link.md
      - Додаткові налаштування: advanced.md

  - Обладнання:
      - Камери і відеотрансмітери (VTX):
          - SigmaStart:
              - SigmaStart SSC338Q: vtx/sigmastar-ssc338q.md
          #- Goke:
              #- Goke GK7205V200: vtx/goke-gk7205v200.md
              #- Goke GK7205V300: vtx/goke-gk7205v300.md
          - OpenIPC:
              - Mario AIO: vtx/marioaio.md
              - Thinker Air Unit: vtx/thinkerairunit.md
              #- UltraSight: vtx/ultrasight.md
          - Runcam:
              - WifiLink v1: vtx/runcamwifilink.md
              - WifiLink v2: vtx/runcamwifilinkv2.md
          #- EMAX:
              #- Wyvern Link 100 mW: vtx/emaxwyvern100mw.md
              #- Wyvern Link 800 mW: vtx/emaxwyvern800mw.md
      - Приймачі (VRX):
          - Runcam WifiLink RX: vrx/runcamwifilinkreceiver.md
          - OpenIPC Bonnet: vrx/openipcbonnet.md
          - Emax Wyvern Link VRX: vrx/emaxwyvernlinkvrx.md
      - Мережеві карти та драйвери:
          - RTL8812EU: net-cards/rtl8812eu.md
          - RTL8812AU: net-cards/rtl8812au.md
          - RTL8812BU: net-cards/rtl8812bu.md
          #- Установка драйверів: net-cards/installation.md

  - Корисні посилання: link.md
  - Оновлення: update/index.md    
      

plugins:
  - search:
      lang:
        - uk
        - en
      separator: '[\s\-]+'
  - i18n:
      docs_structure: folder
      fallback_to_default: true
      reconfigure_material: true
      reconfigure_search: true
      languages:
        - locale: uk
          default: true
          name: Українська
          build: true
        - locale: en
          name: English
          build: true
          nav_translations:
            Головна: Home
            Про проєкт: About the Project
            Оновлення: Updates
            Перші кроки: Getting Started
            Швидкий старт: Quick Start
            Перед першим польотом: Before First Flight
            Налаштування дрона: Drone Setup
            Налаштування приймача (VRX): Receiver (VRX) Setup
            Збірка наземної станції Radxa своїми руками: Building Radxa Groundstation Yourself
            Поширені проблеми: Common Issues
            Конфігурація: Configuration
            Прошивки: Firmware
            Прошивка APFPV — Посібник для початківців: APFPV Firmware — Beginner's Guide
            Оновлення через Multiconfigurator: Update via Multiconfigurator
            Прошивка через UART: UART Flashing
            Телеметрія та OSD: Telemetry & OSD
            VTXMenu: VTXMenu
            40 MHz режим: 40 MHz Mode
            OSD: OSD
            Перенесення OSD до GS: Transferring OSD to GS
            Adaptive-Link: Adaptive-Link
            Додаткові налаштування: Advanced Settings
            Обладнання: Hardware
            Камери і відеотрансмітери (VTX): Cameras & Video Transmitters (VTX)
            SigmaStart: SigmaStart
            SigmaStart SSC338Q: SigmaStart SSC338Q
            Goke: Goke
            Goke GK7205V200: Goke GK7205V200
            Goke GK7205V300: Goke GK7205V300
            OpenIPC: OpenIPC
            Mario AIO: Mario AIO
            Thinker Air Unit: Thinker Air Unit
            UltraSight: UltraSight
            Runcam: Runcam
            WifiLink v1: WifiLink v1
            WifiLink v2: WifiLink v2
            Приймачі (VRX): Receivers (VRX)
            Runcam WifiLink RX: Runcam WifiLink RX
            OpenIPC Bonnet: OpenIPC Bonnet
            Emax Wyvern Link VRX: Emax Wyvern Link VRX
            Мережеві карти та драйвери: Network Cards & Drivers
            RTL8812EU: RTL8812EU
            RTL8812AU: RTL8812AU
            RTL8812BU: RTL8812BU
            Установка драйверів: Driver Installation
            Ресурси та сумісність: Resources & Compatibility
            Сумісність обладнання: Hardware Compatibility
            Корисні посилання: Useful Links
            Програмне забезпечення: Software
            Прошивки для наземки: Firmware for ground
            Прошивки для наземної станції APFPV: Firmware for APFPV ground station
            Прошивки для камер: Firmware for cameras

copyright: "© 2025 OpenFPV Docs — Усі права захищені"